<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="weixin_appid" value="wx78cb8b26be235e33"/>
    <add key="weixin_mch_id" value="1238213702"/>
    <add key="weixin_partnerKey" value="zypwxpayshhy2015zypwxpayshhy2015"/>
    <add key="PATH_TO_CERTIFICATE" value="G:\我的项目\微信支付系统\信息资料\cert\apiclient_cert.p12"/>
    <add key="expireTime" value="60"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=121.199.6.17;user id=usr;password=123;database=db;charset=utf8" providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows"/>
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>